* {
  padding: 0;
  margin: 0;
}
:root {
  --color1: #4eb3cc;
  --color2: #8ad2e4;
  --color3: #a888ec;
  --color4: #d277d8;
}
body {
  .container {
    width: 100%;
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* tiggi nav */
      grid-template-rows: 3em;
      grid-area: nav;
      .left {
        /* kiri */
        padding: 0 0 0 1em;
        display: flex;
        align-items: center;
        justify-content: start;
        background: var(--color1);
      }
      .middle {
        /* tengah */
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color2);
      }
      .right {
        /* kanan */
        padding: 0 1em 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: var(--color1);
      }
    }
    .sidenav {
      display: none;
      grid-area: snav;
    }
    .main {
      width: 100%;
      min-height: 80vh;
      background: var(--color3);
      /* code semua content ditengah */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      grid-area: main;
    }
    footer {
      background: var(--color1);
      /* code semua content ditengah */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      grid-area: footer;
      .footer2 {
        width: 100%;
        min-height: 11em;
        background: var(--color2);
        /* code semua content ditengah */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .footer3 {
        width: 100%;
        min-height: 11em;
        background: var(--color3);
        /* code semua content ditengah */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .footer4 {
        width: 100%;
        min-height: 4em;
        background: var(--color1);
        /* code semua content ditengah */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}


/* responsive code || media query*/ 
@media only screen and (min-width: 640px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      max-width: 600px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      max-width: 900px;
      display: grid;
      grid-auto-columns: 8em 1fr;
      grid-template-areas:
        "nav nav"
        "snav main"
        "footer footer";
      .sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 9em;
        background: var(--color4);
      }
      footer {
        background: var(--color1);
        /* code semua content ditengah */
        display: grid;
        grid-template-columns: 1fr 1fr;
        .footer2 {
        }
        .footer3 {
        }
        .footer4 {
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}
